@model DAO_DORMISIENTA.PRODUCTO

@{
    Layout = null;
}

@using (Html.BeginForm("ProductoUpdt", "Producto", FormMethod.Post, new { onsubmit = "return  ValidarDobleClic()", enctype = "multipart/form-data" }))
{ // el return indica que la accion del formulario llega false cuando ya le han dado clic una vez


    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductoId)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 style="color:#1ab394" class="modal-title">Formulario de Modificacion de Producto</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 b-r">
                <h3 class="m-t-none m-b"></h3>

                <div class="form-group">
                    <label>Nombre</label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    <label>Codigo</label>
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    <label>Categoria</label>
                    @Html.DropDownListFor(model => model.Categotia, (IEnumerable<SelectListItem>)ViewBag.Categoria, "Seleccione una opcion", htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Descripcion</label>
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>

            <div class="col-sm-6 ">
                <br>
                <div class="form-group">
                    <label>Precio</label>
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label>Cantidad Disponible</label>
                    @Html.EditorFor(model => model.CantidadDisponible, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    <label>Imagen</label>
                    <input class="form-control m-b" requerid type="file" id="file" name="file" />
                </div>

                <div class="form-group">
                    <label>Estado </label>
                    @Html.DropDownList("estado", null, "Seleccione una opcion", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4 ">      </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="boton" type="submit"><strong>Modificar</strong></button>
    </div>
}
